<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PRODUCT DETAILS</title>
</head>
<body bgcolor="#778899">
<center>
<div class="container">
    <form action="./productinsert/" method="get">
  <table>
    <tr>
      <td align="right">ENTER PRO.ID:</td>
      <td align="left"><input type="text" name="t1" /></td>
    </tr>
    <tr>
      <td align="right">ENTER PRO.NAME:</td>
      <td align="left"><input type="text" name="t2" /></td>
    </tr>
    <tr>
      <td align="right">ENTER PRO.COST:</td>
      <td align="left"><input type="text" name="t3" /></td>
    </tr>
	<tr>
      <td align="right">ENTER PRO.MNF.DATE:</td>
      <td align="left"><input type="text" name="t4" /></td>
    </tr>
	<tr>
      <td align="right">ENTER PRO.EXP.DATE:</td>
      <td align="left"><input type="text" name="t5" /></td>
    </tr>
  </table>
  <input type="submit" value="INSERT">
</form>
  </div>
</center>
</body>
</html>